html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

#name{
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 80px;
}

.profilepic {
  width: 400px;
  border: 1px solid;
  padding: 3px;

  position: absolute;
  color: #59b24c;
  float: right;
  right: 100px;
  top: 150px;
}

.container{
    margin-top: 50px; 
    max-width:540px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.topnav {
    overflow: hidden;
    background-color: #5ab24ccb;
    position: fixed; 
    z-index:999;
    top: 0;
    left:0;
    width: 100%;
  }
  

  .topnav a {
    float: left;
  color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
 
  .topnav a:hover {
    background-color: #59b24c;
    ;
    color: black;
  }
  
  