html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  background-color: rgb(246, 246, 246);
}

/* * {
  box-sizing: border-box;
} */


#navbar {
  background-color: #59b24c;
  position: fixed;
  top: 0;
  left:0;
  width: 100%;
  display: block;
  transition: top 0.3s;
  padding: 10px;
  z-index:999;
}

#navbar a {
  float: left;
  display: block;
  color: inherit;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 17px;
}



/* .navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: #59b24c;
  padding: 10px;
  position: fixed; 
  z-index:999;
  top: 0;
  left:0;
  width: 100%;
  

}
.navbar a{
  text-decoration: none;
  color: inherit;
} */
.list{
  list-style: none;
  display: flex;
  gap: 25px;
}
#toggler,
.navbar label {
  display: none;
}

.clickzone{
  width: 20px;
  height: 20px;
  align-items: center;
}

.more-vertical-solid.icon {
  color: rgb(246, 246, 246);
  position: absolute;
  margin-left: 8px;
  margin-top: 8px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  border: solid 1px currentColor;
  background-color: currentColor;
}

.more-vertical-solid.icon:before {
  content: '';
  position: absolute;
  left: -1.5px;
  top: -8px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  border: solid 1px currentColor;
  background-color: currentColor;
}

.more-vertical-solid.icon:after {
  content: '';
  position: absolute;
  left: -1.5px;
  top: 5px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  border: solid 1px currentColor;
  background-color: currentColor;
}

@media screen and (max-width: 600px) {
  .menu{
    width: 100%;
    max-height: 0;
    overflow: hidden;
  }
  .list{
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  .navbar label{
    display: inline-flex;
    align-items: center;
    cursor: pointer;
  }
  #toggler:checked ~ .menu{
    max-height: 100%;
  }
}

.row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  flex: 50%;
  min-height: 95vh;
}

.content{padding: 10px;}


.profilepic {
  width: 70%;
  border: 1px solid;
  padding: 3px;
  color: #59b24c;
  align-items: center;
  position: relative;
  left: 10%;
  margin-top: 15%;
}

.text{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40vh;
  width: 100%;
}

#name{font-size: 80px;}

.container{
  min-height: 95vh;
  padding-top: 25vh;
  /* border: 1px solid;
  padding: 3px; */


}

@media all and (max-width: 600px) {
  .row { flex-direction: column; }
  .column-1 {min-height: 25vh;}
  .column-2 {min-height: 70vh;}
  .profilepic {
    left: auto;
    margin-top: 0px;
    margin-left: 15%;
  }
  .text{margin-top: 35px;}
  #name{font-size: 8vw;}
  .container{padding-top: 50px;}
}


