html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  background-color: rgb(246, 246, 246);
}

* {
  box-sizing: border-box;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: #59b24c;
  padding: 10px;
  position: fixed; 
  z-index:999;
  top: 0;
  left:0;
  width: 100%;

}
.navbar a{
  text-decoration: none;
  color: inherit;
}
.list{
  list-style: none;
  display: flex;
  gap: 25px;
}
#toggler,
.navbar label {
  display: none;
}

.clickzone{
  width: 20px;
  height: 20px;
  align-items: center;
}

.more-vertical-solid.icon {
  color: rgb(246, 246, 246);
  position: absolute;
  margin-left: 8px;
  margin-top: 8px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  border: solid 1px currentColor;
  background-color: currentColor;
}

.more-vertical-solid.icon:before {
  content: '';
  position: absolute;
  left: -1.5px;
  top: -8px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  border: solid 1px currentColor;
  background-color: currentColor;
}

.more-vertical-solid.icon:after {
  content: '';
  position: absolute;
  left: -1.5px;
  top: 5px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  border: solid 1px currentColor;
  background-color: currentColor;
}

@media screen and (max-width: 600px) {
  .menu{
    width: 100%;
    max-height: 0;
    overflow: hidden;
  }
  .list{
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  .navbar label{
    display: inline-flex;
    align-items: center;
    cursor: pointer;
  }
  #toggler:checked ~ .menu{
    max-height: 100%;
  }
}



.profilepic2 {
  width: 400px;
  border: 1px solid;
  padding: 3px;
  color: #59b24c;
  align-items: center;
  position: relative;
left: 10%;
}


/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  min-height: 100vh;

}

.column2{
  position: relative;
  /*background-color: #4c9ab2cb;*/
  min-height: 100vh;

  display: flex;
/* $$  justify-content: center;*/
  align-items: center;
}

.text{
  padding: 0;
  text-align: center;
  position: absolute;
  left: 25%;
  top: 50%;
  transform: translate(-50%, -50%);
  
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#name{
  font-size: 80px;}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1080px) {
  .column {
    width: 100%;
    min-height: 50vh;
  }
  .profilepic2 {
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
}

.text{

  left: 50%;
  top: 25%;
  transform: translate(-50%, -25%);
  
}
#name{
  font-size: 8vw;}
}


.profilepic {
  width: 400px;
  border: 1px solid;
  padding: 3px;
  position: absolute;
  color: #59b24c;
  margin-left: 60%;
}

.container{
  position: relative;
    min-height: 100vh;
    /*background-color: #4c9ab2cb;*/
    display: flex;
 /*   justify-content: center;*/
    align-items: center;

}
@media screen and (max-width: 1080px) {

  
  .profilepic {
    width: 60%;
    border: 1px solid;
    padding: 3px;
    position: relative;
    color: #59b24c;
    margin-left: auto;
    margin-right: auto;
  }
  
}


  


  